[run]
branch = True

source =
    dbload

omit =
    # Omit test files
    dbload/tests/*
    dbload/scripts/server.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

fail_under = 5
